html {
    font-size: 1.2rem;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
    color: #cdd6f4;
    background-color: #1e1e2e;
}

a {
    text-decoration: inherit;
    color: #89b4fa;
}

a:hover {
    text-decoration: underline;
}

address {
    font-style: inherit;
}

time {
    font-family: monospace;
    color: #7f849c;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}

header {
    padding: 0.5rem;
    border-bottom: 0.2rem solid;
}

nav {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

nav a {
    color: inherit;
}

main {
    padding: 0 1rem;
}

article {
    margin: auto;
    max-width: 35rem;
}

.blog {
    padding: 0;
    list-style: none;
}

.post-title {
    margin-bottom: 0;
}
